/* w3schools.com */
/* https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/ */
body {
    --text-color: #222;
    --bkg-color: #fff;
    --col1bgcolour: #e6e6e6;
    --col2bgcolour: #C8C8C8;
    --card-title-color: #034078;
    --slider-bg-color: #ccc;
    --slider-circle-color: #fff;
}

body.dark-theme {
    --text-color: #eee;
    --bkg-color: #121212;
    --col1bgcolour: #1b1b1f;
    --col2bgcolour: #1b1b1f;
    --card-title-color: #e6e6e6;
    --slider-bg-color: #343a40;
    --slider-circle-color: #C8C8C8;
}

@media (prefers-color-scheme: dark) {

    /* defaults to dark theme */
    body {
        --text-color: #eee;
        --bkg-color: #121212;
        --col1bgcolour: #1b1b1f;
        --col2bgcolour: #1b1b1f;
        --card-title-color: #e6e6e6;
        --slider-bg-color: #343a40;
        --slider-circle-color: #C8C8C8;
    }

    body.light-theme {
        --text-color: #222;
        --bkg-color: #fff;
        --col1bgcolour: #e6e6e6;
        --col2bgcolour: #C8C8C8;
        --card-title-color: #034078;
        --slider-bg-color: #ccc;
        --slider-circle-color: #fff;
    }
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: var(--bkg-color);
}

h1,h2,
p {
    color: var(--text-color);
}

html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}

h1 {
    font-size: 1.8rem;
}

p {
    font-size: 1.4rem;
}

p.options {
    font-size: 1rem;
}

.topnav {
    overflow: hidden;
    background-color: #0A1128;
    padding-bottom: 10px;
}

.topnav a {
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px 10px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #000000;
    background-color: #DDD;
}

.topnav a.active {
    background-color: #0050c7;
    color: white;
}

.nmea {
    color: #0050C7;
    display: inline;
    font-weight: bold;
}

.trax {
    color: #FFFFFF;
    display: inline;
    font-weight: lighter;
}

.botnav {
    overflow: hidden;
    background-color: #0A1128;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.botnavtext {
    position: relative;
    font-size: 1.2rem;
    color: white;
}

body {
    margin: 0;
    padding-bottom: 100px;
}

.content {
    padding-top: 2%;
    padding-bottom: 5%;
}

.card-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.card {
    background-color: var(--col1bgcolour);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--card-title-color);
}

table.text-table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
}

tr {
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 20px;
    color: var(--text-color);
}

th {
    height: 20px;
    padding: 3px 15px;
    background-color: #343a40;
    color: #FFFFFF !important;
}

td {
    height: 20px;
    padding: 3px 15px;
}

.col1 {
    background-color: var(--col1bgcolour);
}

.col2 {
    background-color: var(--col2bgcolour);
}

.tabledata {
    font-size: 18px;
    padding-left: 5px;
    padding-top: 5px;
    height: 25px;
}

button {
    display: inline-block;
    background-color: #0050c7;
    border: none;
    color: white;
    padding: 3px 10px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
}

.button {
    display: inline-block;
    background-color: #0050c7;
    border: none;
    color: white;
    padding: 3px 10px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
}

input {
    padding: 5px 5px;
    font-size: 16px;
}

/* https://randomnerdtutorials.com/esp32-esp8266-web-server-physical-button/ */
.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px
}

.switch input {
    display: none
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-bg-color);
    border-radius: 34px
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 8px;
    bottom: 4px;
    background-color: var(--slider-circle-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 68px
}

input:checked+.slider {
    background-color: #0050c7
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(38px)
}

.Rjust {
    text-align: right;
    font-size: 1rem;
}

.Ljust {
    text-align: left;
    font-size: 1rem;
}